a{
    font-size: x-large;
    color: white;
    text-decoration-line: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding-left: 2em;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 20px;
}
.title{
    padding-left: 55%;
    font-family: cursive;
}
.nav{
    position: fixed;
    width: 100%;
    padding-top: 20px;
    background: transparent;
    top: 0%;
    left: 0%;
    z-index: 4;
    background-color: black;
    opacity: 0.9;
    height: 45px;
}
.navbar{
    position: fixed;
    width: 100%;
    padding-top: 20px;
    background: transparent;
    top: 0%;
    left: 0%;
    z-index: 5;
}
.navlink:hover{
    color: rgb(250, 189, 99);
}
body{
    background-color: black;
}
.flex{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    overflow: hidden;
    background: transparent;
}
.row{
    display: flex;
    flex-direction: row;
}
#titre{
    color: rgb(250, 189, 99);
    margin-top: 8%;
    width: 22%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
}
.soustitre{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.shopview{
    margin-top: 5%;
    width: 20%;
    height: 250px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2.5vw;
    border-radius: 30px;
}
.shopview1{
    margin-top: 5%;
    width: 20%;
    height: 250px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2.5vw;
    border-radius: 30px;
}